.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.underline::after {
  content: "";
  margin-top: 4px;
  width: 100%;
  background-color: black;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  gap: 10px;
  padding: 92px 24px 96px 24px;
}

.header__logo-image {
  width: 130px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  text-transform: lowercase;
  list-style: circle;
  margin: 44px 14px 40px 27px;
}

.header__links-list-item {
  position: relative;
  padding-bottom: 2px;
}

.header__link_active {
  list-style: none;
}

.header__links-list-item:not(.header__link_active):after {
  content: "";
  margin-top: 4px;
  width: 100%;
  background-color: black;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__links-list-link {
  text-decoration: none;
}

.address {
  font-style: normal;
  font-size: 18px;
}

.header__address {
  justify-self: end;
  padding-right: 62px;
  padding-bottom: 2px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  letter-spacing: 30px;
  line-height: 100px;
  font-size: 100px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  position: inherit;
  width: 100%;
  padding: 165px 50px;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__desctiption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 62px 0;
}

.letter-spacing-extended {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.6em;
  text-align: left;
}

.cover__desctiption-text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 78px;
  padding-right: 79px;
  z-index: 1;
  word-spacing: 17px;
  margin: auto;
}

.bet-button {
  justify-self: flex-end;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 1;
  margin-left: auto;
  margin-right: 0;
  font-family: Raleway, sans-serif;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 146px;
  margin-top: 180px;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
}

.card {
  width: 334px;
  text-decoration: none;
  min-height: 563px;
  position: relative;
  padding: 51px 40px;
  display: grid;
  grid-template-rows: 1fr auto;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__button {
  text-decoration: none;
}

.card__title {
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: white;
  flex: 1;
  justify-self: end;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
}

.about {
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "about__logo about__title"
    "about__logo about__text";
  margin-bottom: 180px;
}

.about__column {
  align-self: flex-end;
  padding-top: 75px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 120px;
  margin: 35px 72px 320px 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: about__logo;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  grid-area: about__title;
  padding-top: 133px;
}

.about__text {
  font-size: 20px;
  padding-top: 25px;
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 88px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footer__links-list {
  text-align: center;
  font-size: 18px;
}

.footer__links-list-item_no-line {
  text-decoration: none;
}

.footer__links-list-item {
  list-style: none;
}

.footer__social-list {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
